.header {
    min-height: 100vh;
    margin: 0 auto;
    flex-direction: column;
}

.nav-links {
    max-width: 1100px ;
    width: 100%;
    height: 50px;
    padding: 10px;
    justify-content: space-between;
}

.logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
    color: #333;

}

.logo-on {
    color: #FAFAFA;
    padding: 2px 5px;
    background-color: rgb(3, 169, 244);
   
    border-radius: 55px;
    text-shadow: 1px 1px 1px #000;
    letter-spacing: 1.5px;
    
}
.coqueiro {
    height: 100%;
    background-image: url('../img/coqueiro/coqueiroBlack.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.nav-menu {
    width: 30%;
   justify-content: space-between;
}

.nav-link {
    list-style: none;
}

.link{
    border-width: 0;
    border-style: solid;
    border-color: #333;
    color: #333;
    text-decoration: none;
    font-weight: 700;
}

.link:hover{
    border-width: 1px;
}

.banner {
    height: calc(100vh - 50px);
    width: 100%;
    background-image: url('../img/background/img-background.jpg');
    background-repeat: no-repeat;
    background-position: center top;
    background-size: 100% 100%;

    color: #FAFAFA;
}

.container-title {
    padding: 60px 50px;
    text-align: center;
    background-color: rgba(74, 212, 166, 0.89);
    border:1.5px solid;
    text-shadow: 0 0 10px #000;
}

.banner-title {
    font-size: 50px;
    margin-bottom: 50px;
}


/* fim header */